.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.header {
  background:#0B0000;
}
.header a {
  color: #fff;
  text-decoration: none;
}
.box {
  height: 80px;
  line-height: 80px;
  cursor: pointer;
  width: 100%;
  text-align: center;
}
.box_forweather {
  min-width: 16rem;
  min-height: 11rem;
  width: 20%;
  padding: 1rem;
  margin: 1rem;
  font-family: Roboto !important;
  font-size: 1.2rem;
  text-align: center;
  float: left;
  box-shadow: 0 0 0 5px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  border-radius: 3px;
  padding: 0 15px;
  background: #fff;
  
}
.day_forweather {
  min-width: 16rem;
  min-height: 11rem;
  width: 20%;
  padding: 1rem;
  margin: 1rem;
  font-family: Roboto !important;
  font-size: 1.0rem;
  text-align: center;
  float: left;
  box-shadow: 0 0 2px 3px rgba(63, 63, 68, 0.05), 0 1px 3px 0 rgba(63, 63, 68, 0.15);
  border-radius: 3px;
  padding: 0 15px;
  background: #fff;

}
.box_forweather:hover {
  cursor: pointer;
  background-color: rgba(128,189,255, .5);

}

.day_forweather:hover {
  cursor: pointer;
  background-color: #d3d3d3;

}
h1 {
  margin: 0;
  line-height: 80px;
  color: white;
}
#filter {
  width: 100%;
  border-radius: 20px;
  padding-left: 20px;
  height: 40px;
  margin: 20px 0;
  border: none;
}
